<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogToConsole="true">
  <targets>
    <!-- DZ-3：运行日志统一落 %ProgramData%\PropertyManagement\logs -->
    <target name="file" xsi:type="File"
            fileName="${specialfolder:folder=CommonApplicationData}/PropertyManagement/logs/server-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
